$lightGrey: rgba(255, 255, 255, 0.5);
$darkGrey: #191919;
$orange: #ef7b3c;

@mixin regularText {
  line-height: 16.8px;
  font-size: 14px;
  font-family: "Root", sans-serif;
  font-weight: 400;
}

@mixin boldText {
  line-height: 18px;
  font-size: 14px;
  font-family: "Root", sans-serif;
  font-weight: 700;
}

@mixin headerText {
  font-family: "Random-Grotesque", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

@mixin hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  top: -100%;
}
