body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;

  * {
    box-sizing: border-box;
    font-size: 0;
  }

  button,
  input {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
