@import "../../assets/styles/consts.scss";

.sliderBlock {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  align-self: flex-start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photoBlock {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  max-width: 375px;
  overflow: hidden;
}

.photoBlock:first-child {
  transform: rotate(-10deg);
  left: -180px;
}

.photoBlock:last-child {
  transform: rotate(10deg);
  right: -180px;
}

.photoBlock::after {
  content: "";
  height: 270px;
  width: 100%;
  display: block;
  z-index: 2;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.4;
  bottom: 0;
}

.image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  background-color: #d9d9d9;
  position: relative;
}

.text {
  @include boldText;
  font-size: 32px;
  line-height: 32px;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0 24px 24px;
  max-width: 80%;
  z-index: 3;
}

.swipe {
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 152px;
  right: 261px;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
  }

  button:hover {
    opacity: 0.5;
  }
}

.leftSwipe {
  background-image: url(../../assets/images/arrow.svg);
}

.rightSwipe {
  background-image: url(../../assets/images/arrow.svg);

  transform: rotate(180deg);
}
